<div class="dashboard__wrapper">
	<div id="sidenav" class="sidenav__wrapper hide">
		<app-side-nav></app-side-nav>
	</div>
	<div class="dashboard__content">
		<h1>Dashboard</h1>
		<!-- Code goes here -->


		<div class="row">
			<div class="col-md-3">

				<div class="card w-100">

					<div class="card-body">

						<p> Item Details </p>

						<a href="#" class="btn">Read More</a>


					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="card w-100">
					<div class="card-body">

						<p> Item Details </p>

						<a href="#" class="btn">Read More</a>

					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="card w-100">
					<div class="card-body">

						<p> Item Details </p>

						<a href="#" class="btn">Read More</a>

					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="card w-100">
					<div class="card-body">

						<p> Item Details </p>

						<a href="#" class="btn">Read More</a>

					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="card w-100">
					<div class="card-body">

						<p> Item Details </p>

						<a href="#" class="btn">Read More</a>

					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="card w-100">
					<div class="card-body">

						<p> Item Details </p>

						<a href="#" class="btn">Read More</a>



					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="card w-100">
					<div class="card-body">

						<p> Item Details </p>

						<a href="#" class="btn">Read More</a>


					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="card w-100">
					<div class="card-body">

						<p> Item Details </p>

						<a href="#" class="btn">Read More</a>


					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="card w-100">
					<div class="card-body">

						<p> Item Details </p>

						<a href="#" class="btn">Read More</a>


					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="card w-100">
					<div class="card-body">

						<p> Item Details </p>

						<a href="#" class="btn">Read More</a>

					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="card w-100">
					<div class="card-body">

						<p> Item Details </p>

						<a href="#" class="btn">Read More</a>

					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="card w-100">
					<div class="card-body">

						<p> Item Details </p>

						<a href="#" class="btn">Read More</a>


					</div>
				</div>
			</div>
		</div>
	</div>