<div class="clients__wrapper">
	<div id="sidenav" class="sidenav__wrapper hide">
		<app-side-nav></app-side-nav>
	</div>
	<div class="clients__content">
		<h1>Clients</h1>
		<!-- Code goes here -->

		
		<div class="d-flex mt-4">
			<div class="box"></div>  <button type="button" mdbBtn color="primary" mdbWavesEffect>Read More</button>
		</div>
		<div class="d-flex mt-4">
			<div class="box"></div>  <button type="button" mdbBtn color="primary" mdbWavesEffect>Read More</button>
		</div>
		<div class="d-flex mt-4">
			<div class="box"></div>  <button type="button" mdbBtn color="primary" mdbWavesEffect>Read More</button>
		</div>

		
	</div>
</div>







